body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
}
.navbar a {
    display: flex; 
    align-items: center; 
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}
.menu {
    display: flex;
    gap: 1rem;
}
.menu a {
    font-size: 1rem;
}
.brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f3f3f3;
}

mat-icon {
    font-size: 20px; 
    margin-right: 8px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
    padding: 0.5rem 0;
    border-radius: 4px;
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    
}

.dropdown-menu a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-menu {
    display: block;
}