<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="updateFormUi">
    <h1>Bewerk een post</h1>
    <input type="text" formControlName="title" placeholder="Titel"><br>
    @if (updateForm.controls['title'].invalid && updateForm.controls['title'].touched){
        <p class="errorMessage">Titel is vereist!</p>
    }

    <input type="text" formControlName="author" placeholder="Auteur"><br>
    @if (updateForm.controls['author'].invalid && updateForm.controls['author'].touched){
        <p class="errorMessage">Auteur is vereist!</p>
    }

    <input type="text" formControlName="category" placeholder="Categorie"><br>
    @if (updateForm.controls['category'].invalid && updateForm.controls['category'].touched){
        <p class="errorMessage">Categorie is vereist!</p>
    }

    <textarea id="content" formControlName="content" placeholder="Content"><br></textarea>
    @if (updateForm.controls['content'].invalid && updateForm.controls['content'].touched){
        <p class="errorMessage">Content is vereist!</p>
    }

    <div class="select-container">
        <label for="concept">Concept:</label>
        <input type="checkbox" formControlName="concept">
    </div>

    <button type="submit" [disabled]="!updateForm.valid">
        Maak
    </button>
</form>
