<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="postFormUi">
    <h1>Schrijf een post</h1>
    <input type="text" formControlName="title" placeholder="Titel"><br>
    @if (postForm.controls['title'].invalid && postForm.controls['title'].touched){
        <p class="errorMessage">Titel is vereist!</p>
    }

    <input type="text" formControlName="category" placeholder="Categorie"><br>
    @if (postForm.controls['category'].invalid && postForm.controls['category'].touched){
        <p class="errorMessage">Categorie is vereist!</p>
    }

    <textarea id="content" formControlName="content" placeholder="Content"></textarea><br>
    @if (postForm.controls['content'].invalid && postForm.controls['content'].touched){
        <p class="errorMessage">Content is vereist!</p>
    }

    <select formControlName="postStatus">
        <option value="" disabled selected>Kies een type</option>
        <option value="CONCEPT">BEWAAR ALS CONCEPT</option>
        <option value="SUBMITTED">PLAATS VOOR GOEDKEURING</option>
        <option value="PUBLISHED">PUBLICEER POST</option>
    </select>
    <br>
    @if (postForm.controls['postStatus'].invalid && postForm.controls['postStatus'].touched){
        <p class="errorMessage">Status is vereist</p>
    }

    <button type="submit" [disabled]="!postForm.valid">
        Maak
    </button>
</form>
