<p>add-post works!</p>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="postFormUi">
    <h1>Schrijf een post</h1>
    <input type="text" formControlName="title" placeholder="Titel"><br>
    @if (postForm.controls['title'].invalid && postForm.controls['title'].touched){
        <p class="errorMessage">Titel is vereist!</p>
    }

    <input type="text" formControlName="author" placeholder="Auteur"><br>
    @if (postForm.controls['author'].invalid && postForm.controls['author'].touched){
        <p class="errorMessage">Auteur is vereist!</p>
    }

    <input type="text" formControlName="category" placeholder="Categorie"><br>
    @if (postForm.controls['category'].invalid && postForm.controls['category'].touched){
        <p class="errorMessage">Categorie is vereist!</p>
    }

    <textarea id="content" formControlName="content" placeholder="Content"><br></textarea>
    @if (postForm.controls['content'].invalid && postForm.controls['content'].touched){
        <p class="errorMessage">Content is vereist!</p>
    }

    <div class="select-container">
        <label for="concept">Concept:</label>
        <input type="checkbox" formControlName="concept">
    </div>

    <button type="submit" [disabled]="!postForm.valid">
        Maak
    </button>
</form>