@if (post$ | async; as post){
    <div class="post">
        <h1>{{ post.title }}</h1>
        <h3>Categorie: {{ post.category }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.author }} - {{ post.datePublished | date: 'dd/MM/yyyy'}}</p>
        @if(isRedacteur() && post.postStatus != "SUBMITTED" && post.postStatus != "PUBLISHED" && post.postStatus != "APPROVED"){
            <button [routerLink]="['/update-post', post.id]" routerLinkLinkActive="router-link-active">Bewerk</button>
            <br>
        }

        @if(post.postStatus == "SUBMITTED" && post.authorId != user?.id) {
            <button class="approve-button" (click)="approvePost()">KEUR GOED</button>
            <button class="reject-button" (click)="rejectPost()">KEUR AF</button>

            <form [formGroup]="feedbackForm">
                <textarea formControlName="feedback" placeholder="Type hier de feedback, indien nodig."></textarea>
            </form>

        }
        @else if(post.postStatus == "SUBMITTED" && post.authorId == user?.id){
            <h2 class="errorMessage">Je kan je eigen posts niet behandelen.</h2>
        }

        @if(isRedacteur() && post.postStatus == "APPROVED"){
            <button (click)="publishPost()">Publiceer</button>
        }
    </div>
    @if(post.postStatus == "REJECTED"){
        @for(review of reviews$ | async; track review.id){
            <div class="review">
                <h1>{{review.reviewer}}</h1>
                <p>{{review.dateCreated | date: 'dd/MM/yyyy'}}</p>
                @if(review.feedback == ""){
                    <p>Geen reden gegeven...</p>
                }
                @else{
                    <p>{{review.feedback}}</p>
                }
            </div>
        }
    }
}