@if (post$ | async; as post){
    <div class="post">
        <h1>{{ post.title }}</h1>
        <h3>Categorie: {{ post.category }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.author }} - {{ post.datePublished | date: 'dd/MM/yyyy'}}</p>
        @if(isRedacteur() && post.postStatus != "SUBMITTED" && post.postStatus != "PUBLISHED" && post.postStatus != "APPROVED"){
            <button [routerLink]="['/update-post', post.id]" routerLinkLinkActive="router-link-active">Bewerk</button>
            <br>
        }

        @if(post.postStatus == "SUBMITTED" && post.authorId != user?.id) {
            <button class="approve-button" (click)="approvePost()">KEUR GOED</button>
            <button class="reject-button" (click)="rejectPost()">KEUR AF</button>

            <form [formGroup]="feedbackForm">
                <textarea formControlName="feedback" placeholder="Type hier de feedback, indien nodig."></textarea>
            </form>

        }
        @else if(post.postStatus == "SUBMITTED" && post.authorId == user?.id){
            <h2 class="errorMessage">Je kan je eigen posts niet behandelen.</h2>
        }

        @if(isRedacteur() && post.postStatus == "APPROVED"){
            <button (click)="publishPost()">Publiceer</button>
        }
    </div>

    @if(hasRole() && post.postStatus == "PUBLISHED"){
        <button class="create-comment-button" (click)="toggleCommentForm()">COMMENT AANMAKEN</button>

        @if (showCommentForm) {
            <form [formGroup]="commentForm" class="commentForm">
                <textarea formControlName="comment" placeholder="Schrijf je comment..."></textarea><br>
                @if (commentForm.controls['comment'].invalid && commentForm.controls['comment'].touched){
                    <p class="errorMessage">Comment info is vereist</p>
                }
                <button type="button" (click)="submitComment()">PLAATS COMMENT</button>
            </form>
        }
    }

    @if(post.postStatus == "REJECTED"){
        @for(review of reviews$ | async; track review.id){
            <div class="review">
                <h1>{{review.reviewer}}</h1>
                <p>{{review.dateCreated | date: 'dd/MM/yyyy'}}</p>
                @if(review.feedback == ""){
                    <p>Geen reden gegeven...</p>
                }
                @else{
                    <p>{{review.feedback}}</p>
                }
            </div>
        }
    }

    @if(post.postStatus == "PUBLISHED"){
        @for(comment of comments$ | async; track comment.id){
            <div class="comment">
                <p class="comment-commenter">{{comment.commenter}} - {{comment.dateCreated | date: 'dd/MM/yyyy'}}</p>
                @if(editCommentId === comment.id){
                    <form [formGroup]="editCommentForm" class="edit-comment-form">
                        <textarea formControlName="text" placeholder="Update je comment..."></textarea><br>
                        @if (editCommentForm.controls['text'].invalid && editCommentForm.controls['text'].touched){
                            <p class="errorMessage">Comment info is vereist</p>
                        }
                        <div class="button-container">
                            <button type="button" (click)="updateComment(comment.id)">UPDATE COMMENT</button>
                            <button type="button" (click)="cancelEdit()">ANNULEREN</button>
                        </div>
                    </form>
                }
                @else{
                    <p class="comment-text">{{comment.text}}</p>
                    @if(comment.commenterId == user?.id){
                        <div class="buttons">
                            <button mat-icon-button class="edit" (click)="enableEditComment(comment)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="delete" (click)="deleteComment(comment.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                }
            </div>
        }
    } 
}