@if (post$ | async; as post){
    <div class="post">
        <h1>{{ post.title }}</h1>
        <h3>Categorie: {{ post.category }}</h3>
        <p>{{ post.content }}</p>
        <p>{{ post.author }} - {{ post.datePublished | date: 'dd/MM/yyyy'}}</p>
        @if(isRedacteur()){
            <button [routerLink]="['/update-post', post.id]" routerLinkLinkActive="router-link-active">Bewerk</button>
        }
        <br>
        @if(post.postStatus == "SUBMITTED"){
            <button class="approve-button">
                KEUR GOED
            </button>
            <button class="reject-button">
                KEUR AF
            </button>
        }
    </div>
}